:root {
    --base-hover-color: rgb(0, 0, 0);
    --base-primary-color: rgb(50, 50, 50);
    --base-secundary-color: rgb(50, 200, 200);
    --base-terciary-color: rgb(200, 200, 200);
}

body {
    background: var(--base-primary-color);
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: auto;
    margin-top: 40px;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--base-secundary-color);
    box-shadow: 0px 0px 5px 0px var(--base-terciary-color);
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;

    font-size: 20px;
    padding: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--base-secundary-color);
    box-shadow: 0px 0px 5px 0px var(--base-secundary-color);
}

    .player:hover {
        background: var(--base-hover-color);
        transition: all 1s;
    }

.info {
    font-family: 'Prompt', sans-serif;
    color: var(--base-terciary-color);
    text-shadow: 0px 0px 2px var(--base-secundary-color);
    margin: 5px;
}
    .value {
        text-shadow: none;
        color: var(--base-secundary-color);
    }

.botao-save {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

    #save {
        border: 2px solid var(--base-secundary-color);
        border-radius: 5px;
        background: var(--base-primary-color);
        box-shadow: 0px 0px 5px 0px var(--base-secundary-color);
        cursor: pointer;

        font-family: 'Prompt', sans-serif;
        text-transform: uppercase;
        color: var(--base-terciary-color);
        text-shadow: 0px 0px 2px var(--base-secundary-color);
        
        width: 120px;
        height: 40px;
    }

        #save:hover {
            background: var(--base-hover-color);
            width: 160px;
            transition: all 1s;
        }